#friends-display-link {
  justify-content: center;
  display: flex;
  background-color: #faf9fa;
  padding: 10px 0;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -10px;
}
#friends-display-link i {
  color: #d5d5d5;
  margin: 0px 10px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding: 15px 0;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: #a4a4a4;
}
